<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>GoMedia</title>
</head>

<body>
	<h1>GoMedia</h1>

    <p>Sign up now to get started!</p>

    <form action="/newFeed" method="post">
        <fieldset>
            <legend><strong>Sign Up</strong></legend>
            First Name: <input type="text" name="firstname"> <br>
            Username: <input type="text" name="username"> <br>
            Password: <input type="password" name="password"> <br>
            <input type="submit" value="Sign Up"/>
        </fieldset>
    </form>

    Already have an account? <a href="/">Log In</a>
</body>

</html>
