<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Account Terminated</title>
</head>

<body>
	<h1>GoMedia is sad to see you leave :(</h1>

    <form action="/delete" method="post">
		<p>The account associated with the user name, <%- username %>, has now been deleted</p>
        <p>Please <a href="/">Login</a> to another account or <a href="/signup">Create a New Account</a></p>
    </form>
    
</body>

</html>
